<base href="http://demos.telerik.com/kendo-ui/calendar/index">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>


        <div id="example" style="height:350px;">
				<div class="demo-section k-content" style="text-align: center;">
             <h4>Pick a date</h4>
             <div id="calendar"></div>

        </div>
            <script>

                    // create Calendar from div HTML element
                   $("#calendar").kendoCalendar({
                	   value: new Date(2000, 10, 1),
                       dates: [
                           new Date(2000, 10, 10, 10, 0, 0),
                           new Date(2000, 10, 10, 30, 0)
                       ] //can manipulate month template depending on this array.
					});


            </script>
        </div>
